@import url('./reset.css');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/blocos.jpg');
    background-attachment: fixed;
}

#start-button {
    max-width: 100%;
    height: auto;
}

#press-start {
    color: #ff0000;
    border: 5px solid #ffd700;
    background-color: #000000;
    font-size: 14px;
    position: relative;
    right: 100px;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#press-start a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #press-start {
        position: relative;
        margin-top: 20px;
        width: 300px;
        right: 1px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #press-start {
        position: relative;
        margin-top: 20px;
        width: 300px;
        right: 1px;
        font-size: 10px;
    }
}